body {
    min-height: 100vh;
}

main {
    width:100%;
    background: radial-gradient(circle , #EE82EE, white);
    justify-content: center;
}

.container {
    width: 100%;
    display: grid;  
    gap:1em;
    justify-content: space-around;
    align-content: space-around;
}

.opinion {
    font-family: "Poppins", sans-serif;
    font-weight: 250;
    font-style: normal;
    font-size: 0.8rem;
    text-align:start;
    padding: 4px;
    color:#f107f1;
    border: 1px solid #f107f1;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
