main {
    width:100%;
    background: radial-gradient(circle , #EE82EE, white
    );
    display: flex;
    justify-content:space-evenly;
}

.descripcion {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 0.4rem;   
}

.articulos {
    display:flex;
    justify-content: space-around;
}

.ropa {
    text-align:center;
    justify-content: space-evenly;
    margin: 0.5rem;
    border: 1px solid #f107f1;
}

.ropa_padding {
    padding: 10px;
}
